<body>
    <images></images>

    <div id="title">
        <p id="now">הסכום שנאסף עד עכשיו:</p>
        <p id="sum"><b>{{sum}}</b> ש"ח</p>
        <p id="in">מתוך {{goal}}</p>
        <p id="left">נותרו עוד :{{goal-sum}}</p>
    </div>

    <div id="contant">
        <!-- <div>
            <p><b>כל הערים</b>:</p>
            <div *ngFor="let c of cities">
                <p class="city">שם העיר: {{c.name}}</p>
                <p>הסכום : {{c.sum}}</p>
            </div>
        </div> -->
        <div id="max">
            <p id="maxP"><b>הערים עם הסכומים הגבוהים ביותר :</b></p>
            <div id="wrap">
                <div id="maxCities" *ngFor="let m of maxesCities;let index">
                     <p class="city"> {{ m.name }} : {{ m.sum }} שקלים</p>
                </div>
            </div>
        </div>
        <div id="last">
            <p id="lastP"><b>הערים שעודכנו לאחרונה:</b></p>
            <div id="lastCities" *ngFor="let l of lastCities">
                <p class="city">{{l.name}} : {{l.sum}} שקלים</p>
            </div>
        </div>
    </div>

</body>